/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
<style>
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
</style>

/* Styles for the body */

body {
	font-family: 'Joan', serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #DECDAC;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #F3EADA;
}

.heading {
	font-family: 'Joan', serif;
	text-align: start;
	border-bottom: 1px solid black;
	width: 400px;
}

.subhead {
	font-family: Georgia, serif;
}

.bg {
	background-color: #DAE6F2;
	height: 100%;
	width: 100%;
	position: absolute;
}

.border-lang {
	width: 50%;
	border: 2px solid #748CA6;
	position: relative;
}
.en {
	background-color: #DAE6F2;
	height: 100%;
	width: 75%;
	position: absolute;
}
.fr{
	background-color: #DAE6F2;
	height: 100%;
	width: 50%;
	position: absolute;
}
/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #202030;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.material-icons.md-48{
	font-size: 48px;
}
.normal-text{font-family: "Open sans ", sans-serif;
}
